.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.repo-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 5px;
}

.repo-item h3 {
  margin: 0;
  font-size: 1.2rem;
}

.repo-item p {
  font-size: 1rem;
}

.owner {
  display: flex;
  align-items: center;
}

.owner img {
  border-radius: 50%;
  margin-right: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pagination-btns {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-btns .btn {
  padding: 10px 10px;
  font-size: 16px;
  width: auto;
  margin: 0 5px;
  white-space: nowrap;
}

@media (max-width: 576px) {
  .pagination-btns .btn {
    width: auto;
    margin: 0 5px;
  }
}